/* jumbotron Text */
.jumboText {
  color: white;
  text-shadow: 3px 3px #204969;
}
.jumboHeader1{
  font-size: 30px;
  text-shadow: 3px 3px #204969;
}
.jumboHeader2 {
  font-size: 25px;
  text-shadow: 3px 3px #204969;
}
/* --------------- */
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.font_righteous {
  font-family: "Roboto", sans-serif;
  text-decoration-style: none
}

.bck_black {
  background: #2e2a2a;
}
.bck_white {
  background: #fff7f7;
}

.bck_yellow {
  background: #dadada;
}

.iconImage {
  width: 20px;
  margin-right: 10px;
}

.center_wrapper {
  width: 900px;
  margin: 0 auto;
}
/* About */
.aboutContainer {
  text-align: center;
  /* height: 80vh; */
  justify-content: center;
  padding: 50px;
  
}
.aboutHeader {
  font-size: 40px;
  padding: 5px;
  text-decoration: underline;
  color: #204969;
}
#aboutText {
  font-size: 26px;
  color: #204969;
}
/* end of About */

/* Examples */
h1 {
  text-align: center;
}
.exampleContainer {
  background-color: #738598;
  height: 105vh;
}
.exampleHeader{
  padding-top:75px;
  font-size: 35px;
  text-decoration: underline;
}
/* end of Examples */
.dash_Header {
  text-align: center;
  height: 100px;
  background-color: white;
  margin: 0;
  color: #204969;
  padding-top: 50px;
  font-family: "Righteous", cursive;
  text-decoration: underline;
}

