/* jumbotron Text */
.jumboText {
  color: white;
}
/* --------------- */
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.font_righteous {
  font-family: "Righteous", cursive;
}

.bck_black {
  background: #2e2a2a;
}
.bck_white {
  background: #fff7f7;
}

.bck_yellow {
  background: #dadada;
}

.iconImage {
  width: 20px;
  margin-right: 10px;
}

.center_wrapper {
  width: 900px;
  margin: 0 auto;
}

.aboutContainer {
  text-align: center;
  height: 80vh;
  justify-content: center;
  padding: 50px;
  background-color: #204969;
}
#aboutText {
  font-size: 20px;
}
h1 {
  text-align: center;
}
.exampleContainer {
  background-color: #738598;
  height: 105vh;
}
.exampleHeader{
  padding-top:75px;
  font-size: 35px;
  text-decoration: underline;
}
.dash_Header {
  text-align: center;
  height: 100px;
  background-color: white;
  margin: 0;
  color: #204969;
  padding-top: 50px;
  font-family: "Righteous", cursive;
  text-decoration: underline;
}
