body {
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

.font_righteous {
    font-family: 'Righteous', cursive;
}
/* .text_dark{
    color: #204969;
} */
.bck_black {
    background: #2e2a2a;
}
.bck_white {
    background: #fff7f7;
}
/* .bck_dark {
    background: #204969;
} */
.bck_yellow {
    background: #dadada;
}

.iconImage {
    width: 20px;
    margin-right: 10px;
}

.center_wrapper {
    width: 900px;
    margin:0 auto;
}
.reg_container{
    background: "#204969";
}