.jumbotron {
  background: url("https://imgs.classicfm.com/images/27377?crop=16_9&width=640&signature=lLIW1NLpZxmHU7rxuMMsKTHPG8o=");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 600px;
 
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  
}

.font_righteous {
  font-family: "Righteous", cursive;
  
}
