.howContainer {
  /* padding-top: 30px; */
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  padding: 30px;
  justify-content: center;
  background-color: #dadada;
  
}

#iconImage {
  justify-content: right;
  padding: 30px;
  margin: 1rem;
}

#howHeader {
 font-size: 40px;
  padding: 10px;
  text-decoration: underline;
}
