.container {
    padding-top: 50px;
    height: auto;
    width: 1500px;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
 justify-content: center; 
    align-content: flex-start;
    overflow: auto;
    margin:auto;
     
};
h1{
    text-align: center;
    padding-bottom: 20px;
};
 /* .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}; */
.eventBox {
    height:180px;
    width:200px;
    border-block-end-width:10px; 
    border-color: cadetblue;
    margin: 1rem;
    box-sizing: border-box;
    padding-block-end: 20px;
};
.saleBox {
    height:180px;
    width:200px;
    border-block-end-width:10px; 
    border-color: cadetblue;
    margin: 1rem;
    box-sizing: border-box;
    border: solid black;
    padding: 50px 20px;
    
};
.shareBox {
    height:180px;
    width:200px;
    border-block-end-width:10px; 
    border-color: cadetblue;
    margin: 1rem;
    box-sizing: border-box;
};
