.event-container {
  text-align: center;
  margin: 0px;
  background-color: #dadada;
  /* height: 200px; */
}


.eventHeader {
  /* text-align:center; */
  justify-content: left;
  font-size: 35px;
  display: inline-block;
  margin-left: -80px;
}
 .event_buttons {
  justify-content: left;
  display: inline-block;
  margin-left: -80px;
} 
.calendar {
  /* margin-top: 30px; */
  display: inline-block;
  margin-block-start: 30px;
  margin-inline-start: 70px;
  }