.event-container {
  text-align: center;
  margin: 0;
  background-color: #dadada;
}

.eventList {
  font-size: 23px;
  color: #204969;
  display: inline;
}

.eventHeader {
  text-align: center;
  font-size: 35px;
  margin-left: -110px;
  color: #204969;
}
.event_buttons {
  justify-content: right;
  display: inline-block;
}
.calendar {
  margin-block-start: 30px;
}
.cardList {
  margin: 10px;

  width: 300px;
  text-align: center;
}
.eventListItem {
  color: #407088;
  padding: 0;
  padding-top: 10px;
}
